.white-btn {
    background: white;
    color: #ea580c;
    font-weight: 600;
    padding: .8rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.white-btn:hover {
    background: #fef3c7;
}

@media (max-width: 480px) {
    .white-btn {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }
}